<div>
  <h4>Sales Allocation</h4>
  <div>
    <div class="form-group">
      <label for="selectLanguage">Language</label>
      <select id="selectLanguage" class="form-control" [(ngModel)]="command.language">
        <option *ngFor="let x of languages" [ngValue]="x.value">{{x.text}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="selectVehicle">Vehicle</label>
      <select id="selectVehicle" class="form-control" [(ngModel)]="command.vehicle">
        <option *ngFor="let x of vehicles" [ngValue]="x.value">{{x.text}}</option>
      </select>
    </div>

    <button class="btn btn-primary" (click)="assignSalesPerson()">Assign Sales Person</button>
    <br />
    <hr />
    <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage" (click)="ackError()" >
      <button class="close" type="button" data-dismiss="alert">×</button>
      <strong>{{errorMessage}}</strong> <div id="Div2" runat="server"></div>
    </div>   
    <h4>Assigned Persons</h4>
    <ul>
      <li *ngFor="let c of assignedPersons" [value]="c">{{c.name}}</li>
    </ul>
  </div>
</div>
